__pycache__/
__init__.py
*.pyc
.DS_Store
amazon.code-workspace
.vscode/
data/
details/
log/
amazon_price_tracker.py
add_book_from_safari.py
amazon_product_page.py
amazon_used_product_page.py
book.py
book_db.py
book_deals_db.py
book_goodreads.py
book_prices_db.py
database_insights.py
database_management.py
find_amazon_book_in_goodreads.py
get_id_from_url.py
get_shelf_from_goodreads.py
get_url_from_safari.py
open_url_in_safari.py
publishers.html
run.py
search_book_in_keepa.py
select_user_agent.py
settings.py
shortcuts.py
test.py
tools.py