__pycache__/
__init__.py
*.pyc
.DS_Store
amazon.code-workspace
.vscode/
data/
details/
log/
amazon_used_product_page.py
database_insights.py
database_management.py

db_infos.py
find_amazon_book_in_goodreads.py
get_id_from_url.py
get_url_from_safari.py
open_url_in_safari.py
search_book_in_keepa.py
select_user_agent.py
settings.py
tools.py
